body {
	background-color: #262626;
}

#AppLogo {
    padding-top: 12px;
    padding-bottom: 4px;
    cursor: pointer;
}

.navbar-brand {
    outline:none !important;
}

.navbar form {
    padding-left: 5px;
    padding-right: 5px;
}

.navbar div {
    padding-right: 5px;
    padding-left: 5px;
}

.spinner {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

.navbar-default #AppName {
    font-family: Lobster, Monospace;
    font-size: 24px;
    color: white;
    position:relative;
}

.navbar-default #dropdown {
    font-size: 16px;
    display: inline-block;
    color: white;
    text-align: right;
    padding: 20px 25px 15px 5px;
    text-decoration: none;
    position:relative;
}

.navbar-default .dropdown-toggle {
    color: white;
}

.navbar-default .dropdown-menu {
    background-color: #333;
    font-size: 16px;
    color: white;
}

.navbar-default li a {
    color: white;
}

.navbar-default li a:hover {
    background-color: #000000;
    color: white;
}

.navbar-default #searchBar {
    position:relative;
    text-align: center;
    padding: 14px 5px;
}


.navbar-default {
    background-color: black;
    border-color: #E7E7E7;
    color: white;
}

#searchVal {
  width: 100%;
}

#location {
    text-align: center;
    padding-top: 55px;
}

.navbar-inverse {
    border-color: #E7E7E7;
    text-align: center;
    background: -webkit-linear-gradient(left,  #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
}

.container-fluid.full-width {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}

.row.row-no-gutter {
    margin: 0
}

.row.row-no-gutter [class*="col-"] {
    padding: 0;
    margin-top: 1px;
    margin-bottom: 3%;
}

.has-inner .row.row-no-gutter {
    margin-left: -10px;
    margin-right: -10px;
}

.row.row-no-gutter .inner {
    padding-left: 10px;
    padding-right: 10px;
}

.btn-group {
    margin-top: 10px;
    margin-bottom: 5px;
}

.now-playing {
    font-size: 14px;
    font-family: Lobster, Monospace;
    color: white;
}

.nopadding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.spinner {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('image/spinner.gif') 50% 50% no-repeat rgb(249,249,249);
}

.modal-dialog{
    overflow-y: initial !important;
    width: 90%;
}

.modal-body{
    height: 70%;
    overflow-y: auto;
}

#container-fluid {
    outline: 1px solid black;
}

#currentLocation {
    padding: 1%;
    font-family: Alegreya, Monospace;
    font-weight: 800;
    color: WhiteSmoke;
    background-color: #262626
}

#controls {
    outline: 1px solid black;
    padding: 1%;
}

#audioControls {
    outline: 1px solid black;
}

#familiarity {
    outline: 1px solid black;
}

#playingArtist {
    outline: 1px solid black;
    padding: 1%;
}

#playingArtistTitle {
    color: white;
    padding: 1%;

}

#artistTiles {
    margin: 0px;
    color: white;
}
#currentPoster {
    outline: 1px solid black;
}

#localEvents {
    outline: 1px solid black;
    padding: 1%;
    margin-bottom: 120px;
}

#localEventsTitle {
    padding: 1%;
    color: white;
}

#localEventsList {
    padding: 1%;
    margin-bottom: 100px;
}


#jp_container_1 {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 15px;
    -webkit-box-shadow: 10px 0px 32px -9px rgba(0,0,0,0.52);
    -moz-box-shadow: 10px 0px 32px -9px rgba(0,0,0,0.52);
    box-shadow: 10px 0px 32px -9px rgba(0,0,0,0.52);
}

#event {
	padding-top: 15px;
	background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 10px 0px 32px -9px rgba(0,0,0,0.52);
    -moz-box-shadow: 10px 0px 32px -9px rgba(0,0,0,0.52);
    box-shadow: 10px 0px 32px -9px rgba(0,0,0,0.52);
}