body {
	background-color: #F0F8FF;
}

.spinner {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

.navbar-default #AppName {
    font-family: Lobster, Monospace;
    font-size: 24px;
    color: white;
    position:relative;
}

.navbar-default #dropdown {
    font-size: 16px;
    display: inline-block;
    color: white;
    text-align: right;
    padding: 14px 14px;
    text-decoration: none;
    position:relative;
}

.navbar-default .dropdown-toggle { 
    color: white;
}

.navbar-default .dropdown-menu { 
    background-color: #333;
    font-size: 16px;
    color: white;
}

.navbar-default li a {
    color: white;
}

.navbar-default li a:hover {
    background-color: #000000;
    color: white;
}

.navbar-default #searchBar {
    position:relative;
    text-align: center;
    padding: 14px 14px;
}


.navbar-default {
    background-color: black;
    border-color: #E7E7E7;
    color: white;
}

#location {
    text-align: center;
    padding-top: 55px;
}

.navbar-inverse {
    border-color: #E7E7E7;
    text-align: center;
    background: -webkit-linear-gradient(left,  #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
}

.btn-group {
    margin-top: 10px;
    margin-bottom: 5px;
}

.now-playing {
    font-size: 14px;
    font-family: Lobster, Monospace;
    color: white;

}

.nopadding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.spinner {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('image/spinner.gif') 50% 50% no-repeat rgb(249,249,249);
}

.modal-dialog{
    overflow-y: initial !important;
    width: 400px;
}

.modal-body{
    height: 70%;
    overflow-y: auto;
}

#container-fluid {
    outline: 1px solid black;
}

#currentLocation {
    outline: 1px solid black;
    padding: 1%;
}

#controls {
    outline: 1px solid black;
    padding: 1%;
}

#audioControls {
    outline: 1px solid black;
}

#familiarity {
    outline: 1px solid black;
}

#playingArtist {
    outline: 1px solid black;
    padding: 1%;
}

/*#playingArtistPoster{
    outline: 1px solid black;
}*/

#artistTiles {
    margin: 0px;
}
#currentPoster {
    outline: 1px solid black;
}

#playingArtistBiography {
    outline: 1px solid black;
}

#playingArtistNews {
    outline: 1px solid black;
}

#localEvents {
    outline: 1px solid black;
    padding: 1%;
    margin-bottom: 120px;
}

#localEventsTitle {
    padding: 1%;
}

#localEventsList {
    outline: 1px solid black;
    padding: 1%;
    margin-bottom: 100px;
}

#localEventsMap {
    outline: 1px solid black;
    padding: 1%;
}

#jp_container_1 {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 15px;
    -webkit-box-shadow: 10px 0px 32px -9px rgba(0,0,0,0.52);
    -moz-box-shadow: 10px 0px 32px -9px rgba(0,0,0,0.52);
    box-shadow: 10px 0px 32px -9px rgba(0,0,0,0.52);
}

#event {
	padding-top: 15px;
	background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 10px 0px 32px -9px rgba(0,0,0,0.52);
    -moz-box-shadow: 10px 0px 32px -9px rgba(0,0,0,0.52);
    box-shadow: 10px 0px 32px -9px rgba(0,0,0,0.52);
}