body {
    padding: 10%;
	background-color: #F0F8FF;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-default ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.navbar-default ul li {
    float: left;
    position: relative;
}

.navbar-default #AppName {
  font-family: Lobster, Monospace;
  font-size: 24px;
  margin-left: 15px;
}

.navbar-default li a {
    font-size: 16px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    position:relative;
}

.navbar-default li a:hover {
    background-color: #000000;
    color: white;
}


.navbar-default {
    background-color: black;
    border-color: #E7E7E7;
    color: white;
}

.navbar-inverse {
    background-color: #607B8B;
    border-color: #E7E7E7;
}

.row {
    margin: 0 0;
    text-align: center;

}
.btn-group {
    margin-bottom: 5px;

}

.now-playing {
    font-size: 18px;
    font-family: Lobster, Monospace;
    color: white;
}

.modal-dialog{
    overflow-y: initial !important
    width: 400px;
}

.modal-body{
    height: 70%;
    overflow-y: auto;
}

#container-fluid {
    outline: 1px solid black;
}

#currentLocation {
    outline: 1px solid black;
    padding: 1%;
}

#controls {
    outline: 1px solid black;
    padding: 1%;
}

#audioControls {
    outline: 1px solid black;
}

#familiarity {
    outline: 1px solid black;
}

#playingArtist {
    outline: 1px solid black;
    padding: 1%;
}

/*#playingArtistPoster{
    outline: 1px solid black;
}*/

#artistTiles {
    margin: 0px;
}
#currentPoster {
    outline: 1px solid black;
}

#playingArtistBiography {
    outline: 1px solid black;
}

#playingArtistNews {
    outline: 1px solid black;
}

#localEvents {
    outline: 1px solid black;
    padding: 1%;
    margin-bottom: 120px;
}

#localEventsTitle {
    padding: 1%;
}

#localEventsList {
    outline: 1px solid black;
    padding: 1%;
}

#localEventsMap {
    outline: 1px solid black;
    padding: 1%;
}

#jp_container_1 {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 15px;
    -webkit-box-shadow: 10px 0px 32px -9px rgba(0,0,0,0.52);
    -moz-box-shadow: 10px 0px 32px -9px rgba(0,0,0,0.52);
    box-shadow: 10px 0px 32px -9px rgba(0,0,0,0.52);
}

#event {
	padding-top: 15px;
	background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 10px 0px 32px -9px rgba(0,0,0,0.52);
    -moz-box-shadow: 10px 0px 32px -9px rgba(0,0,0,0.52);
    box-shadow: 10px 0px 32px -9px rgba(0,0,0,0.52);
}